<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New film page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Begin Page Content -->
<div class="container-fluid mt-5">

    <!-- DataTales Example -->
    <div class="card shadow mb-4 mx-auto" style="width: 900px;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nowy Tytuł</h6>
        </div>
        <div class="mb-3 mt-5 ml-5 mr-5">
            <form action="/addFilm" th:object="${newFilm}" method="post">
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Tytuł</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{title}" class="form-control" id="inputTitle" required>
                        <p class="text-danger text-center font-weight-bold" th:if="${#fields.hasErrors('title')}"
                           th:errors="*{title}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Reżyser</label>
                    <div class="form-inline">
                        <div class="col-sm-6">
                            <label for="directorFirstName"></label>
                            <input type="text" th:field="*{directorDtoFirstName}" id="directorFirstName"
                                   class="form-control"
                                   placeholder="Imię" required>
                            <p class="text-danger text-center font-weight-bold" th:if="${#fields.hasErrors('directorDtoFirstName')}"
                               th:errors="*{directorDtoFirstName}"></p>
                        </div>
                        <div class="col-sm-6">
                            <label for="directorLastName"></label>
                            <input type="text" th:field="*{directorDtoLastName}" id="directorLastName"
                                   class="form-control"
                                   placeholder="Nazwisko" required>
                            <p class="text-danger text-center font-weight-bold" th:if="${#fields.hasErrors('directorDtoLastName')}"
                               th:errors="*{directorDtoLastName}"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputGenre" class="col-sm-2 col-form-label">Kategoria</label>
                    <div class="col-sm-10">
                        <select th:field="*{genre}" class="custom-select mr-sm-2" id="inputGenre">
                            <option th:each="genre : *{T(pl.filmveeb.model.Genre).values()}"
                                    th:value="${genre}" th:text="${genre.name()}" selected></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productionYear" class="col-sm-2 col-form-label">Rok produkcji</label>
                    <div class="col-sm-10">
                        <input type="number" th:field="*{productionYear}" class="form-control" id="productionYear">
                        <p class="text-danger text-center font-weight-bold" th:if="${#fields.hasErrors('productionYear')}"
                           th:errors="*{productionYear}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Opis</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{description}" class="form-control" id="inputDescription" placeholder="maximum 400 characters">
                        <p class="text-danger text-center font-weight-bold" th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPosterUrl" class="col-sm-2 col-form-label">Plakat</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{posterUrl}" class="form-control" id="inputPosterUrl"
                               placeholder="URL maximum 400 characters">
                        <p class="text-danger text-center font-weight-bold" th:if="${#fields.hasErrors('posterUrl')}"
                           th:errors="*{posterUrl}"></p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">Dodaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

<footer class="card-footer bg-primary text-center text-white fixed-bottom">
    <p>Copyright &copy; 2020 Marcin Balicki. All rights reserved
    <p>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>
