<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary" style="background-color:steelblue">
    <a class="navbar-brand rounded-circle text-dark bg-warning font-weight-bolder" href="/">&nbsp&nbsp&nbspF&nbsp&nbsp&nbsp</a>
    <a class="navbar-brand" href="/">FILMVEEB</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/films">Filmy</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Kategorie
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a th:field="*{genre}" th:each="genre : *{T(pl.filmveeb.model.Genre).values()}"
                       th:text="*{genre.name()}"
                       class="dropdown-item" th:href="@{'/allFilms/' + ${genre}}"></a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/myFilms">Moje filmy</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
    </div>
    <div th:if="${#authorization.expression('!isAuthenticated()')}" class="ml-5">
        <a href="/login">
            <button class="btn btn-secondary" type="submit">Zaloguj</button>
        </a>
    </div>
    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-white"
                      th:text="${#authentication.name}"></span>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown">
            <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">
                Profil
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">
                Wyloguj
            </a>
        </div>
    </div>
</nav>
<!-- Begin Page Content -->
<div class="container-fluid mt-5">

    <!-- DataTales Example -->
    <div class="card shadow mb-4 mx-auto" style="width: 500px;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Twój profil</h6>
        </div>
        <div class="mt-4 mb-4 mx-auto" style="width: 350px;" th:object="${currentUser}">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="*{firstName}">Name</li>
                <li class="list-group-item" th:text="*{lastName}">Surname</li>
                <li class="list-group-item" th:text="*{email}">Email</li>
            </ul>
            <div class="text-white">
                <a class="btn btn-info" th:href="@{'/editUser/' + ${#authentication.name}}">Edytuj profil</a>
            </div>
        </div>
    </div>


</div>
<footer class="card-footer bg-primary text-center text-white fixed-bottom">
    <p>Copyright &copy; 2020 Marcin Balicki. All rights reserved
    <p>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>
