<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Begin Page Content -->
<div class="container-fluid mt-5">

    <!-- DataTales Example -->
    <div class="card shadow mb-4 mx-auto" style="width: 1000px">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Zarejestruj się</h6>
        </div>
        <div class="mt-4 ml-5 mr-5">
            <form action="/register" method="post" th:object="${newUserDto}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFistName">Imię</label>
                        <input th:field="*{firstName}" class="form-control" id="inputFistName" placeholder="FirstName" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName">Nazwisko</label>
                        <input th:field="*{lastName}" class="form-control" id="inputLastName" placeholder="LastName" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputBirthDate">Data urodzenia</label>
                        <input th:field="*{birthDate}" class="form-control" id="inputBirthDate" placeholder="yyyy-MM-dd" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPhoneNumber">Numer telefonu</label>
                        <input th:field="*{phoneNumber}" class="form-control" id="inputPhoneNumber" placeholder="PhoneNumber" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputCity">Miasto</label>
                        <input th:field="*{city}" class="form-control" id="inputCity" placeholder="city" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputStreet">Ulica</label>
                        <input th:field="*{street}" class="form-control" id="inputStreet" placeholder="street" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">Kraj</label>
                        <select th:field="*{country}" id="inputState" class="form-control">
                            <option th:each="country:${countries}" th:text="${country.plName}" th:value="${country.symbol}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZipCode">Kod pocztowy</label>
                        <input th:field="*{zipCode}" type="text" class="form-control" id="inputZipCode" placeholder="zipCode" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input th:field="*{email}" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Hasło</label>
                        <input th:field="*{password}" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mb-3">Zapisz</button>
            </form>
        </div>
    </div>


</div>
<footer class="card-footer bg-primary text-center text-white fixed-bottom">
    <p>Copyright &copy; 2020 Marcin Balicki. All rights reserved<p>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
